@font-face {
    font-family: Sahel;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.eot?#iefix') format('embedded-opentype'), url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.woff') format('woff'), url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Sahel;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.eot?#iefix') format('embedded-opentype'), url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.woff') format('woff'), url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Sahel;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Black.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Black.eot?#iefix') format('embedded-opentype'), url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Black.woff') format('woff'), url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Black.ttf') format('truetype');
    font-weight: 900;
}

body {
    direction: rtl;
    margin: 0;
    color: var(--text-color);
    background: var(--page-background);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font: 16px/1.7 -apple-system, Sahel, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.Content a {
    &:hover {
        text-decoration: underline;
    }
}

.external-link-icon {
    color: #aaa;
    display: inline-block;
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
    z-index: 99;
    background-color: var(--page-background) !important;
}

.Wrap {
    max-width: 1180px;
}

.layout-wide .Wrap {
    max-width: 100%;
}

.layout-narrow .Wrap {
    margin: 0 auto;
}

.docute-banner {
    margin-bottom: 10px;
    &>*:first-child {
        margin-top: 0;
    }
    &>*:last-child {
        margin-bottom: 0;
    }
}

.docute-footer {
    padding-top: 60px;
}